{% load static %}
{% include 'Common/header.html' %}
<title>scissorstories - About Us</title>
        <div class="spa_sab_banner_wrap overlay">
            <div class="container">
                <div class="spa_sab_banner_text">
                    <h2 class="sab_banner_title">About Us</h2>
                </div>
            </div>
        </div>
        <!--SPA SAB BANNER WRAP OVERLAY END -->

        <!--SPA PAGE LINK START -->
        
        <!--SPA PAGE LINK END -->

        <!--CONTENT START -->
        <div class="content">
            <!--SPA WELLNESS CENTER START -->
            <div class="spa_wellness_center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="spa_wellness_text">
                                <!--SECTION HEADING START -->
                                <div class="section_heading hdg-2">
                                    <h5>Welcome to</h5>
                                    <h2>scissorstories</h2>
                                    <p>Remember those days of getting a bizarre hair cut from a stylist, which made you look for another new salon? Or searching for “best salons” on web and failed to get accurate results? Well, We're here to help make sure those are behind us. Making the right choices with your beauty & wellness services isn't easy. It's hard to know where to look to get inspired, to find all the current trends and to pick a style that'll suit you. And if you do, finding the right stylist at the right salon to re-create the look is often left to chance.</p>
                                </div>
                                <!--SECTION HEADING END -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="spa_wellness_fig">
                                <figure class="imghvr-strip-shutter-up">
                                    <div class="hover-theme"></div>
                                    <img src="{% static 'cust/extra-images/wellness.png' %}" height="350px" width="250px" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SPA WELLNESS CENTER END -->

            <!--SPA SERVICE WRAP START -->
            <!--SPA SERVICE WRAP END -->

            <!--SPA IMPORTANT TEXT START -->
            <div class="spa_important_text">
                <div class="container">
                    <div class="spa_caption">
                        <h2><span>For any help or assistance </span>Call us @ (+91) 7897897890</h2>
                    </div>
                </div>
            </div>
            <!--SPA IMPORTANT TEXT END -->

            <!--spa CLIENT WRAP START-->

        </div>
        {% include 'Common/footer.html' %}