{% load static %}
{% include 'Common/header.html' %}
<title>scissorstories - Deactivate Account</title>
<div class="spa_sab_banner_wrap shop_img overlay" width=100%>
    <div class="container">
        <div class="spa_sab_banner_text" style='height:200px;'>
            <h2 class="sab_banner_title">Account Deactivation</h2>
        </div>
    </div>
</div>
<div class="spa_contact_field">
    <h1 class="sidebar_title">Are you sure you want to deactivate your account ?</h1>
   
        <button type="submit" class="them_btn them-bg">Yes, I am sure</button> &nbsp;<button type="submit" class="them_btn them-bg">No, Go back</button> &nbsp;

</div>

{% include 'Common/footer.html' %}