{% load static %}
{% include 'Common/header.html' %}
<title>scissorstories - Change Password</title>
<div class="spa_contact_field">
    <h2 class="sidebar_title">Change Password</h2>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action=# onsubmit="return valPass()" name=respass id=respass>{% csrf_token %}
            <div class="spa_select_field input">
                <input type="password" name=pass1 id=pass1 placeholder="New Password">
                <div class="alert-danger" style="height: 1px;display: none;" id=perr role="alert">*Password must not be empty.</div>
                <div class="alert-danger" style="height: 1px;display: none;" id=perr1 role="alert">*Password length must be more than 8 characters.</div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
        
        <div class="col-md-6">
    
        </div>
        
        <div class="col-md-6">
        
        </div>
        
        <div class="col-md-6">
            
        </div>
        <div class="col-md-12">
            <div class="spa_select_field input" style="width: 48%;">
                <input type="password" name=pass2 id=pass2 placeholder="Confirm Password">
                <div class="alert-danger" style="height: 1px;display: none;" id=perr11 role="alert">*Passwords do not match.</div>                                                                                                
            </div>
            <br>                                               
        </div>
        <div class="spa_textarea contact">
            <button type="submit" name='uname' value="{{request.user.username}}" class="them_btn them-bg">Submit</button>
            <button class="them_btn them-bg" href="login.html">Cancel</a>
        </div>
    </form>                     
    </div>
</div>                      
{% include 'Common/footer.html' %}