{% load static %}
{% include 'Common/header.html' %}
<title>scissorstories - Forgot Password</title>
<div class="spa_sab_banner_wrap shop_img overlay" width=100%>
    <div class="container">
        <div class="spa_sab_banner_text">
            <h2 class="sab_banner_title">Forgot Password</h2>
            
        </div>
    </div>
</div>
<div class="spa_contact_field">
    <h2 class="sidebar_title">Don't we got your back !</h2>
    <div class="row">
        <form method='POST' name='forpass' onsubmit="return valFor()" id='forpass' action=#>{% csrf_token %}
        <div class="col-md-6">
            <div class="spa_select_field input">
                <input type="text" name='forusername' id=forusername placeholder="Enter your username here">
                <br>
                
                <div class="alert-danger" style="height: 1px;display: none;" id=uex role="alert">*User does not exists.</div>
                <div class="alert-danger" style="height: 1px;display: none;" id=unull role="alert">*Username must not be empty.</div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="spa_textarea contact">
            <button type="submit" class="them_btn them-bg">Submit</button>
        </div>
    </form>                
    </div>     
    </div>
</div>
{% include 'Common/footer.html' %}