{% load static %}
<footer>
    <!--WIDGET WRAP OVERLAY START-->
    <div class="widget_wrap overlay">
       <div class="container">
          <div class="row">
             <div class="col-md-4 col-sm-6">
                <div class="widget_logo">
                   <a href="index.html"><img src="{% static 'cust/images/top-logo2.png' %}" alt=""></a>
                   <p>Headquarters:<br>Xaviers' Institute of Computer Applications,<br>St Xaviers' College,<br>Xaviers' Road, Navrangpura,<br>Ahmedabad-380009.<br>Email: scissorstories1@gmail.com<br>Mobile: (+91) 8128225999</p>
                </div>
             </div>
          </div>
          <!--WIDGET SLIDER START-->
          <!--WIDGET SLIDER END-->
          <!--COPYRIGHT START-->
          <!--COPYRIGHT END-->
       </div>
    </div>
    <!--WIDGET WRAP OVERLAY END-->
 </footer>
 <!--FOOTER END-->
 <div class="search">
    <button id="btn-search-close" class="btn btn--search-close" aria-label="Close search form"><i class="fa fa-plus"></i></button>
 </div>
 <!-- /search -->
</div>
<!--spa Wrapper End-->
<!--Jquery Library-->
<script src="{% static 'cust/js/jquery.js' %}"></script>
<!--Bootstrap core JavaScript-->
<script src="{% static 'cust/js/bootstrap.js' %}"></script>
<!--Slick Slider JavaScript-->
<script src="{% static 'cust/js/slick.min.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/demo5.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/jquery.bxslider.min.html' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/jquery.nice-select.min.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/jquery.prettyPhoto.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/dcalendar.picker.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/jquery.filterizr.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/jquery.pwstabs.html' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/controls.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/modernizr.custom.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/jquery.dlmenu.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/jquery.plate.js' %}"></script>
<!--Pretty Photo JavaScript-->
<script src="{% static 'cust/js/downCount.js' %}"></script>
<!--Counter up JavaScript-->
<script src="{% static 'cust/js/waypoints.js' %}"></script>
<!--Custom JavaScript-->
<script src="{% static 'cust/js/custom.js' %}"></script>
<!--Start of Tawk.to Script-->
<!--End of Tawk.to Script-->
</body>
</html>